<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image Filters</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
	  
	 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	  
	  <script type="text/javascript"  src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js" ></script>
	  
    <link rel="stylesheet" href="../../css/steg.css" />
    <script src="../../scripts/steganography.min.js"></script>
	 <script src="../../scripts/steg.js"></script>
	  <script src="../../scripts/extract.js"></script>
  </head>
  <body>