<%- include("./partials/header") %>
<link rel="stylesheet" href="/css/landing.css">
<section class="sec">
	<header>
		<a href="/" class="logo"><i class="fas fa-images fa-2x"></i></a>
		<ul>
			<% if(!currentUser){ %>
				<li><a href="/login">login</a></li>
				<li><a href="/register">signup</a></li>
			<% } else{ %>
				<li><a href="/login">Hi, <%= currentUser.username %></a></li>
				<li><a href="/logout">logout</a></li>
			<% } %>
		</ul>
	</header>
	<div class="content">
		<div class="textBox">
			<h2>Image Filters</h2>
			<q>
				Everything you can imagine is real
			</q>
			<br>
			<a href="/Images">Get started</a>
		</div>
	</div>
	<div class="imgBox">
		<img src="https://img.freepik.com/free-vector/photo-camera-blue-background-design_24877-12461.jpg?size=626&ext=jpg" class="image1">
	</div>
</section>
<%- include("./partials/footer") %>